---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <h2>About Foone</h2>
           <img class="float-left" src="../images/foone-twitter.jpg" height="200px" width="200px" />
           <p>Hardware / software necromancer, collector of Weird Stuff, maker of Death Generators. (they/them) <span class="p-1 flow-root"><a href="https://twitter.com/foone" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @foone</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span></p>
           <ul class="list-disc list-inside mb-3">
<li><a href="http://foone.org/">foone.org</a></li>
<li><a href="https://youtube.com/foone2">Youtube</a></li>
<li><a href="https://www.patreon.com/foone">Patreon</a></li>
<li><a href="https://ko-fi.com/fooneturing">Ko-fi</a></li>
</ul>
<p>Foone made an <a href="https://twitter.com/Foone/status/1321172402391298048">amazing tweetstorm</a>. They have nothing to do with this website other than inspiring it. </p>

           <h2 class="mt-6">About Fission</h2>
           <p>Fission makes a fast app publishing platform for front end devs. We have worked with <a href="https://brunomonts.portfoliobox.net/">Bruno Monts</a> on a bunch of fun developer-related character illustrations. You can check out our <a href="https://fission.codes/artwork">Artwork page</a> to browse them all. We asked Bruno to illustrate Foone's tweets, and here we are.</p>
           <p>The image is CC-BY-NC. Please check out Foone's links and above, and support them on Patreon or ko-fi.</p>
        </div>

    </article>

    <p>Built on top of <a href="https://github.com/josephdyer/skeleventy">Skeleventy by josephdyer</a>, and hosted on <a href="https://fission.codes">Fission</a>.</p>

</main>
