---
layout: default
meta_title: Foone Autonomous Laser Tweetstorm
meta_description: A tweetstorm about congress, autonomous lasers, and more. Tweets by foone, laser image by Fission.
body_class: home
title: Foone Autonomous Laser Tweetstorm
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

<blockquote class="twitter-tweet" data-conversation="none"><p lang="en" dir="ltr">Burns: And the reason you designed an 80 megawatt laser satellite with an &quot;autonomous mode&quot; was...<br>Foone: &quot;Dead-hand&quot; operation. The primary goal of the CLEAN SWEEP project was to ensure the survival of the human race, even after asteroid impact.</p>&mdash; foone (@Foone) <a href="https://twitter.com/Foone/status/1321172402391298048?ref_src=twsrc%5Etfw">October 27, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            <img class="pt-4" src="../images/foone-laser-tweetstorm-1900.png" />

            <p class="pt-2"><a href="../images/foone-laser-tweetstorm.png">Full Size</a>. Commissioned by <a href="https://fission.codes?foone">Fission</a>, ilustration by <a href="https://brunomonts.portfoliobox.net/">Bruno Monts</a>. <a href="about">More about this »</a></p>

        </div>

    </section>

</main>


